<!--Barra de navegacion-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="Home">Estacionamiento Inteligente</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

           <!--Boton Estacionamineto-->
           <li class="nav-item">
            <a class="nav-link" routerLink="Estacionamiento">Estacionamiento</a>
          </li>
    </ul>

    <ul class="navbar-nav">
      <!--Boton Registro-->
      <li class="nav-item quitarformatolista">
        <a class="nav-link gris" routerLink="Registro">Registro </a>
      </li>
      <!--Boton Iniciar secion-->
      <li class="nav-item quitarformatolista">
        <a  class="nav-link gris" routerLink="Login">Iniciar seción</a>
      </li>
    </ul>



    <!--Menu expandible-->
    <li  class="nav-item quitarformatolista dropdown">
      <a class="nav-link dropdown-toggle Cursor color" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Saldo disponible: $ 0.00
      </a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="Perfil">Perfil</a>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="logout()">Cerrar sesion</button>
      </div>
    </li>
  </div>
</nav>



<!-- Pantalla -->
<div>
  <router-outlet></router-outlet>
</div>

